.colorBackground{
    /* height: 100vh; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background: radial-gradient(circle at center,
                                rgba(70, 158, 137, 0.445) ,
                                rgba(111, 156, 149, 0.295) ,
                                rgba(112, 202, 183, 0.418) ,
                                rgba(181, 107, 199, 0.301) );
}
/* .floting-text{
    font-size: 70px;
    cursor: pointer;
}
.word{
    display: inline-block;
    transition: transform 0.10s  case-in-out;
}
.word:hover{
    transform: translateY(-40px)
} */






/* button::before {
    content: '';
    background: linear-gradient(45deg, #ffffff, #ff7300, #fffb00, #48ff00, #2d6b61, #002bff, #ff00c8, #00838f);
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    filter: blur(8px);
    border-radius: 12px;
    background-size: 600%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  button:hover::before {
    opacity: 1;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
   */




   

  
  /* button */
  .style {
    /* margin: 50px; */
    /* padding: 15px 40px; */
    /* border: none; */
    /* outline: none; */
    /* color: #FFF; */
    /* cursor: pointer; */
    position: relative;
    z-index: 0;
    border-radius: 12px;
  }
  .style::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00838F;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  /* glow */
  .style::before {
    content: "";
    background: linear-gradient(
      45deg,
      #ffffff, #FF7300, #FFFB00, #48FF00,
      #2d6b61, #002BFF, #FF00C8, #00838f
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
  }
  
  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
  
  /* hover */
  .style:hover::before {
    opacity: 1;
  }
  
  .style:active:after {
    background: transparent;
  }
  
 


